body{
    background-color:#f7f9ff
}
#topnav{
        font-size: 1.35em;
        padding-left: 5em;
        padding-right: 5em;
        height:2.5em;
      }
nav input{
         width: 39%!important;
      }
.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }